.dashboard{

display:flex;
gap:25px;
padding:30px;
background:#F9F1D8;
min-height:100vh;
font-family:"Poppins",sans-serif;

}



.treeCard{

flex:2;
background:#FFF7E8;
border:2px solid #E5B87D;
border-radius:25px;
padding:25px;
display:flex;
flex-direction:column;
justify-content:space-between;
box-shadow:0 10px 25px rgba(0,0,0,.08);

}



.treeText p{

font-size:14px;
color:#7A7A7A;

}

.treeText h1{

font-size:38px;
margin:8px 0;
color:#2F3D2B;

}

.treeText span{

color:#777;

}

.treeContainer{

display:flex;
justify-content:center;
align-items:center;
margin:20px 0;

}

.treeContainer img{

width:240px;
transition:.4s;

}

.treeContainer img:hover{

transform:scale(1.05);

}



.treeFooter{

display:flex;
justify-content:space-between;
font-size:13px;
margin-bottom:8px;

}

.progressBar{

height:10px;
background:#DDD;
border-radius:20px;
overflow:hidden;

}

.progressFill{

width:88%;
height:100%;
background:#7F9B57;
border-radius:20px;

}



.rightCards{

width:320px;
display:flex;
flex-direction:column;
gap:20px;

}



.balanceCard{

background:#788B4B;
color:white;
padding:25px;
border-radius:22px;
display:flex;
align-items:center;
gap:18px;

}

.iconCircle{

width:55px;
height:55px;
border-radius:50%;
background:white;
display:flex;
justify-content:center;
align-items:center;
color:#788B4B;

}

.balanceCard p{

opacity:.8;

}

.balanceCard h2{

margin-top:5px;
font-size:34px;

}



.smallCards{

display:flex;
gap:18px;

}

.income,
.expense{

flex:1;
background:#D89C47;
padding:20px;
border-radius:20px;
text-align:center;
color:white;
transition:.3s;

}

.expense{

background:#C5792A;

}

.income:hover,
.expense:hover{

transform:translateY(-6px);

}



.chartCard{

background:#FFF4C7;
border-radius:22px;
padding:20px;
height:260px;

}



.chartHeader{

margin-bottom:20px;

}



.chart{

display:flex;
justify-content:center;
align-items:center;
height:170px;

}



.circle{

width:130px;
height:130px;
border-radius:50%;
border:16px solid #E8D782;
border-top:16px solid #C69D40;
transform:rotate(35deg);

}



@media(max-width:900px){

.dashboard{

flex-direction:column;

}

.rightCards{

width:100%;

}

}